[sitePicker]
==
<!DOCTYPE html>
<html lang="en">
<head>
    {% partial 'head' %}
</head>
<!-- Body-->
<body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="page-wrapper">
        
        {% partial 'header' %}
        
        {% page %}
        
    </main>
    {% framework %}
    {% partial 'footer' %}
    {% partial 'end' %}
</body>
</html>