<!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="/themes/re/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/themes/re/assets/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/themes/re/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/themes/re/assets/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
<script src="/themes/re/assets/vendor/lg-fullscreen.js/dist/lg-fullscreen.min.js"></script>
<script src="/themes/re/assets/vendor/lg-zoom.js/dist/lg-zoom.min.js"></script>
<script src="/themes/re/assets/vendor/lg-thumbnail.js/dist/lg-thumbnail.min.js"></script>
<script src="/themes/re/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="/themes/re/assets/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<!-- Main theme script-->
<script src="/themes/re/assets/js/theme.min.js"></script>