<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header>
    <div class="container">
        <a class="navbar-brand me-3 me-xl-4" href="real-estate-home-v1.html">
            <img class="d-block" src="/themes/re/assets/img/logo/autonoma-v-logo.svg" width="160" alt="Autonoma-V">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Sign in</a><a class="btn btn-primary btn-sm ms-2 order-lg-3" href="real-estate-add-property.html"><i class="fi-plus me-2"></i>Add<span class='d-none d-sm-inline'> property</span></a>
        <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
                <!-- Demos switcher-->
                <li class="nav-item dropdown me-lg-2">
                    <a class="nav-link dropdown-toggle align-items-center pe-lg-4" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fi-flag me-2"></i>Latviski<span class="d-none d-lg-block position-absolute top-50 end-0 translate-middle-y border-end" style="width: 1px; height: 30px;"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="real-estate-home-v1.html"><i class="fi-building fs-base opacity-50 me-2"></i>Latviski</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="car-finder-home.html"><i class="fi-car fs-base opacity-50 me-2"></i>English</a></li>
                    </ul>
                </li>
                <!-- Menu items-->
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">Sākums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">Noma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">Piegāde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">Noteikumi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">Kontakti</a>
                </li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Rezervēt</a></li>
            </ul>
        </div>
    </div>
</header>