<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header>
    <div class="container">
        <a class="navbar-brand me-3 me-xl-4" href="/">
            <img class="d-block" src="/themes/re/assets/img/logo/autonoma-v-logo.svg" width="160" alt="Autonoma-V">
        </a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#signin-modal" data-bs-toggle="modal">
            <a class="btn btn-primary btn-sm ms-2 order-lg-3" href="/booking">
                {{ 'Rezervēt'|_ }}
            </a>
        <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
             {# drop down menu task 1 #}
            <select class="form-control" onchange="window.location.assign(this.value)">
                {% for site in sitePicker.sites %}
                    <option value="{{ site.url }}" {{ this.site.code == site.code ? 'selected' }}>
                        {{ site.name }}
                    </option>
                {% endfor %}
            </select>
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
                <!-- Demos switcher-->
                <li class="nav-item dropdown me-lg-2">
                    <a class="nav-link dropdown-toggle align-items-center pe-lg-4" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fi-flag me-2"></i>Latviski<span class="d-none d-lg-block position-absolute top-50 end-0 translate-middle-y border-end" style="width: 1px; height: 30px;"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/"><i class="fi-building fs-base opacity-50 me-2"></i>Latviski</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/en"><i class="fi-car fs-base opacity-50 me-2"></i>English</a></li>
                    </ul>
                </li>
                <!-- Menu items-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/'|page }}" role="button">{{ 'Sākums'|_ }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'rent'|page }}" role="button">{{ 'Noma'|_ }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delivery" role="button">{{ 'Piegāde'|_ }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rules" role="button">{{ 'Noteikumi'|_ }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" role="button">{{ 'Kontakti'|_ }}</a>
                </li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="/booking">
                    <i class="fi-user me-2"></i>{{ 'Rezervēt'|_ }}</a>
                </li>
            </ul>
        </div>
    </div>
</header>